footer {
    background-image: url("../background/headerfooterBG.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 15px;
    text-align: center;
    color: white;
}
footer>a {
	color: white;
}